[submodule "vim-ruby"]
	path = vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim-ruby-sinatra"]
	path = vim-ruby-sinatra
	url = https://github.com/hallison/vim-ruby-sinatra.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim-golang"]
	path = vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
